.categories {
  background-color: #f6f9ff;
  z-index: 100;
  position: sticky;
  top: 56px;
  padding: 32px 0;
  @media (min-width: 1440px) {
    padding: 40px 0;
    margin-bottom: 16px;
    top: 88px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media (min-width: 1440px) {
      flex-direction: row;
      gap: 20px;
    }
  }
  &__category {
    padding: 16px;
    border: 0px solid transparent;
    border-radius: 10px;
    background-color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    @media (min-width: 1440px) {
      font-size: 16px;
      line-height: 20px;
      width: 335px;
    }
  }
}

.category {
  &__authors {
    position: relative;
    display: flex;
    justify-content: space-between;
    img {
      transition: all 0.7s ease;
      width: 18px;
      height: 18px;
    }
    @media (min-width: 1440px) {
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  &__authors.active {
    img:nth-child(3) {
      transform: rotate(180deg);
    }
  }

  &__authors-wrap {
    display: flex;
    gap: 10px;
  }

  &__authors-links {
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    padding: 16px;
    position: absolute;
    width: 100%;
    background: #fff;
    max-height: 292px;
    top: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    transition: all 0.5s ease;
    @media (min-width: 1440px) {
      max-height: 300px;
    }
  }
  &__authors-links.active {
    top: 200%;
    opacity: 1;
    pointer-events: all;
  }
  &__date {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__date-from {
    width: 144/326 * 100%;
  }

  &__date-hr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    width: 8px;
    @media (min-width: 1440px) {
      width: 9.67px;
    }
  }

  &__date-to {
    width: 144/326 * 100%;
  }
}
