.container {
  width: 358/390 * 100%;
  margin: 0 auto;
  @media (min-width: 1440px) {
    width: 1164/1440 * 100%;
  }
}
* {
  font-family: "Montserrat", sans-serif;
}

.main {
  background-color: #f6f9ff;
}

.body.active {
  @media (max-width: 1440px) {
    overflow: hidden;
  }
}

.h1 {
  visibility: hidden;
}
