.offers {
  padding-bottom: 56px;
  @media (min-width: 1440px) {
    padding-bottom: 80px;
  }

  &__articles {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    @media (min-width: 1440px) {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  }
}
